.container {
	height:200px;
	width:960px;
	border-bottom: 2px solid #AAA;
	margin: 0 auto;
}
.container h3 {
	height:30px;
	width:30px;
	color:#fff;
	font-family: Arial;
	font-size: 20px;
	border-radius: 40px;
	padding: 1px;
	color: #000;
	border: 2px solid #000;
	margin-top: 10px;
	line-height: 30px;
	text-align: center;
	background-color: #ccc;
}
.box-dark {
	border:3px solid #DDD;
	height:100px;
	width:100px;
	margin:0 auto;
	-webkit-transition: All 1s ease;
}
.box-dark:hover {
	background-color: #000;
}
.box-spin {
	border:3px solid #DDD;
	height:100px;
	width:100px;
	margin:0 auto;
	-webkit-transition: All 1s ease;
}
.box-spin:hover {
	-webkit-transform: rotate(360deg); 
	/*negative for counterclock*/
}
.box-stretch-wide {
	border:3px solid #DDD;
	height:100px;
	width:100px;
	margin:0 auto;
	-webkit-transition: All 1s ease;
}
.box-stretch-wide:hover {
	width: 300px;
	
}