.pink-box {
	height: 100px;
	width: 100px;
	color: pink;
}
.container {
	height:200px;
	border-bottom: 2px dashed #AAA;
}
.container span {
	height:20px;
	width:20px;
	color:#fff;
	background-color: #CCC;
	font-style: Arial;
}